@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 2780px !important;
} */

body {
  max-width: 2780px !important;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
